<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sekmeyi Kapatma, Para Kazan!</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="/assets/js/sweetalert.min.js"></script>
</head>
<body>

    <div class="header">
        <h5 id="gpu"></h5>
    </div>

    <div class="app">

        <h3>Durdukça Kazan!</h3>
        <p class="muted">Sekmeyi kapatma! Sitede durdukça para kazan. İşlem devam ederken siteyi kapatmanız durumunda bakiyeniz kaybolabilir.</p>

        <div class="balance">
            <span id="money">0.00</span> THC
        </div>

        <div class="balance try">
            <span id="try">0.00</span>₺
        </div>


    </div>

    <div class="actions">

        <div id="wd" class="withdraw" style="border-right: 5px solid #000000;">

            <a><i class="fa-solid fa-money-bill"></i> Parayı Çek</a>

        </div>

        <div id="donate" class="donate">

            <a><i class="fa-solid fa-circle-dollar-to-slot"></i> Bağışla</a>

        </div>


    </div>

    <p id="alert"></p>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>