@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap&family=Inter:wght@900&display=swap');

* {
    font-family: "Inter", "Poppins", sans-serif !important;
}

body {
    background-color: #000000;
}

.app {
    margin: 20px auto;
    max-width: 45%;
    background-color: #262626;
    padding: 30px;
    text-align: center;
    color: #fff;
}


.muted {
    color: #595959;
}

.balance {
    background-color: #494949;
    color: #fff;
    letter-spacing: 3px;
    padding: 20px;
    border-radius: 3px;
    transition: .4s all;
    cursor: pointer;
    outline: none;
    margin: 0 auto !important;
    font-size: 22px;
}

.balance:hover {
    background-color: #3b3b3b;
}

img {
    width: 100%;
    height: auto;
}

.private {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions .withdraw, .donate {
    padding: 15px;
    background-color: #5a2fc7;
    width: 100%;
    max-width: 22.5%;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    color: #ced4da;
    cursor: pointer;
    transition: .4s all;
}

.actions .withdraw:hover, .donate:hover {
    background-color: #6433e3;
}

i {
    font-family: 'Font Awesome 6 Free' !important;
}

.try {
    margin-top: 20px !important;
}

#gpu {
    background-color: #15803d;
    color: #ced4da;
    text-align: center;
    padding: 10px;
}